body{
    font-family: 'Montserrat', sans-serif;
}
    
.container-1{
    display: flex;
    
}

.container-1 .card.leftCol img{
    border-radius: 30%;
    width: 90%;
    padding: 11px;
}

.card{ 
    
    padding: 10px;
    width: 50%;  
    text-align: left;
    color:black;
    font-weight: bold;
    
}

.leftCol{
    width: 15%;
    
    
    background-color: azure;
    font-size: 20px;
    
}

.rightCol{
    width: 42.5%;
    background-color:gray;
    font-size: 130%;
    background: url(./Image/background1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.rightCol2{
    width: 42.5%;
    background-color: blueviolet;

}

.container-2{
    

}
.footer{
    width: 99%;   
    height: 80px;
    background-color: rgb(25, 77, 129);
    background: url(./Image/background1.jpg);
    background-size: 1000px;
    background-repeat: repeat-x;
    color: white;
    font-weight: bold;

}