body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.container-1{
    display: flex;
    
}

.container-1 .card.leftCol img{
    border-radius: 30%;
    width: 90%;
    padding: 11px;
}

.card{ 
    
    padding: 10px;
    width: 50%;  
}

.leftCol{
    width: 15%;
    background: url(./Image/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: azure;
    text-align: left;
    color:black;
    font-size: 20px;
}

.rightCol{
    width: 42.5%;
    background-color: aqua;
    font-size: 26px;
}

.rightCol2{
    width: 42.5%;
    background-color: blueviolet;

}

.container-2{
    

}
.footer{
    width: 99%;   
    height: 80px;
    background-color: rgb(25, 77, 129);

}